#dashboard-header{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 2.5rem;
    padding-bottom: 2rem;
    a{
        position: relative;
        margin-left: 1.7rem;
        font-size: 1.05rem;
        font-weight: 600;
        font-family: "Poppins",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: $purple-blue;
        text-decoration: none;
        @include link-underline-styles(2.5px, $purple-blue, $dark-gray);
        &:first-child{
            margin: 0;
        }
    }
    
}