#dashboard-header{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 2.5rem;
    padding-bottom: 2rem;
    a{
        position: relative;
        margin-left: 1.7rem;
        font-size: 0.95rem;
        font-weight: 600;
        font-family: "Poppins",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: $purple-blue;
        text-decoration: none;
        &:first-child{
            margin: 0;
        }
        &::after{
            position: absolute;
            content: "";
            left: 0;
            bottom: -1px;
            height: 2.5px;
            width: 0;
            border-radius: 1rem;
            transition: all 0.2s ease-out;
            background-color: $purple-blue;
        }
        &:hover{
            &::after{
                background-color: $purple-blue;
                width: 100%;
            }
        }
        &.selected{
            color: $dark-gray;
            &::after{
                background-color: $dark-gray !important;
                width: 100%;
            }
        }
        
    }
    
}