$namespace: "record-pg";
##{$namespace}-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - #{$navbar-height});
  align-items: center;
}
##{$namespace}-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-grow: 1;
}
.#{$namespace}-err-banner {
  justify-content: center;
  background-color: $light-red;
  color: $dark-red;
}
##{$namespace}-wrapper {
  padding: 3rem;
  max-width: 1100px;
  width: 100%;
}
.#{$namespace}-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  h1 {
    align-self: center;
    margin-top: 2rem;
    font-size: 2.5rem;
    font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: $darkest-gray;
    font-weight: 600;
    margin: 0;
  }
  span:first-child {
    color: $dark-blue;
  }
  span:nth-child(2) {
    color: $darkest-gray;
  }
  a {
    background-color: $dark-blue;
    color: $white;
    text-decoration: none;
    padding: 0.5rem 0.7rem;
    border-radius: 0.3rem;
  }
}
.#{$namespace}-heading {
  h3 {
    color: $darkest-gray;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
    margin-right: 0.2rem;
  }
}
.#{$namespace}-heading-row {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
##{$namespace}-heading-record-type {
  display: flex;
  //flex-direction: column;
}
##{$namespace}-heading-date-created {
  color: $dark-gray;
  font-style: italic;
}
##{$namespace}-heading-contributors {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.#{$namespace}-content-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}
.#{$namespace}-content-body-intro-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.#{$namespace}-content-body-intro-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
  h2 {
    color: $dark-blue;
    margin-bottom: 0.3rem;
  }
  // h5 {
  //   color: $darkest-gray;
  //   font-size: 1.2rem;
  //   margin-top: 1.3rem;
  //   text-align: left;
  //   width: 100%;
  //   margin-bottom: 0.2rem;
  // }
  p {
    text-align: left;
    font-size: 1rem;
    // color: $darkest-gray;
    font-size: 1.2rem;
    margin-top: 1.3rem;
    text-align: left;
    width: 100%;
    margin-bottom: 0.2rem;
    //color: $darkest-gray
  }
}
.#{$namespace}-content-event-dates{
  
}
.#{$namespace}-date-item {
  font-style: italic;
  color: $dark-gray;
  font-size: 0.85rem;
}
