@import "./subPages/userContributions/userContributionsBreakPoints";
@mixin dashboard-sm {
  .dashboard-user-column {
    &.Name {
      flex-grow: 1;
      .user-list-row-item {
        justify-content: start;
      }
    }
  }
  .dashboard-popup-modal {
    width: 90vw;
  }
  // #dashboard-review-requests-title {
  //   font-size: 1.5rem;
  //   margin-bottom: 1.6rem;
  //   height: 2rem;
  //   h1 {
  //     margin-left: 0.5rem;
  //     font-size: 1.6rem;
  //     line-height: 1.8rem;
  //   }
  // }
  .dashboard-review-requests-types {
    font-size: 0.95rem;
  }
  .dashboard-request-card-action-btns {
    width: 100%;
    button {
      width: 100%;
      font-size: 0.85rem;
    }
  }
  .dashboard-request-card-header {
    padding: 1rem 1rem;
    font-size: 1rem;
  }
  @include user-contributions-sm;
}
@mixin dashboard-md {
  .dashboard-action-cards {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    .action-card {
      width: 100%;
    }
  }
  .dashboard-popup-modal {
    width: 70vw;
  }
  #dashboard-user-search {
    width: 100%;
  }
  // #dashboard-review-requests-inner {
  //   padding: 0 1rem;
  // }
  // #dashboard-review-requests-header {
  //   padding-bottom: 1rem;
  // }
  .dashboard-request-card-content {
    flex-direction: column;
  }
  .dashboard-request-card-general-info {
    width: 100%;
  }
  .dashboard-request-card-purpose-container {
    width: 100%;
    .purpose-expand-btn {
      justify-content: center;
    }
  }
  .dashboard-request-card-footer {
    justify-content: center;
    padding-bottom: 1rem;
  }
}
