//color
$badge: #D2D2C0;
$blue: #2C6BAC;
$darkest-blue: #093552;
$purple-blue: #000d74;
$blue-gray: #41516C;
$dark-gray: rgb(129, 129, 129);
$darker-gray: rgb(114, 114, 114);
$darkest-gray: rgb(83, 83, 83);
$white: #F9F9F9;
//utilities
$navbar-height: 3.5rem;