//color
$badge: #D2D2C0;
$blue: #2C6BAC;
$dark-blue: #0046A6;
$darkest-blue: #093552;
$purple-blue: #000d74;
$blue-gray: #41516C;
$lighter-gray: rgb(221, 221, 221);
$light-gray: rgb(199, 199, 199);
$gray: rgb(165, 165, 165);
$dark-gray: rgb(129, 129, 129);
$darker-gray: rgb(114, 114, 114);
$darkest-gray: rgb(83, 83, 83);
$white: #F9F9F9;
$green: #00B307;
//utilities
$navbar-height: 3.5rem;