//color
$badge: #d2d2c0;
$light-blue: #3277f7;
$blue: #2c6bac;
$dark-blue: #0045a6;
$darkest-blue: #093552;
$purple-blue: #000d74;
$blue-gray: #41516c;
$lightest-gray: rgb(231, 231, 231);
$lighter-gray: rgb(221, 221, 221);
$light-gray: rgb(199, 199, 199);
$gray: rgb(165, 165, 165);
$dark-gray: rgb(129, 129, 129);
$darker-gray: rgb(114, 114, 114);
$darkest-gray: rgb(83, 83, 83);
$white: #f9f9f9;
$green: #00b307;
$red: #dc3545;
$dark-red: #721c24;
$light-red: #f8d7da;
$dark-yellow: #86681d;
$light-yellow: #fefee3;
//utilities
$navbar-height: 3.5rem;

@mixin remove-btn-default {
  background-color: transparent;
  border: none;
  outline: none;
}

@mixin link-underline-styles(
  $height: 2px,
  $defaultColor: transparent,
  $selectedColor: transparent
) {
  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    height: $height;
    width: 0;
    border-radius: 1rem;
    transition: all 0.2s ease-out;
    background-color: $defaultColor;
  }
  &:hover {
    color: $defaultColor;
    &::after {
      background-color: $defaultColor;
      width: 100%;
    }
  }
  &.selected {
    color: $selectedColor;
    &::after {
      background-color: $selectedColor;
      width: 100%;
    }
  }
}
@mixin scroll-bar-styles(
  $width: 0.5rem,
  $height: 0.5rem,
  $track-color: rgba(0, 0, 0, 0.07),
  $thumb-color: rgba(153, 153, 153, 0.6),
  $border-radius: 0.5rem
) {
  &::-webkit-scrollbar {
    width: $width;
    height: $height;
  }
  &::-webkit-scrollbar-track {
    width: $width;
    height: $height;
    background-color: $track-color;
    border-radius: $border-radius;
  }
  &::-webkit-scrollbar-thumb {
    width: $width;
    height: $height;
    background: $thumb-color;
    border-radius: $border-radius;
  }
}
