@import "./variables";
@import "../src/pages/utilityComponents/utilities";
@import "../src/pages/aboutPage/aboutPage";
@import "../src/pages/dashboard/dashboard";
@import "../src/pages/homePage/homePage";
@import "../src/pages/authPage/formPage";
@import "./mediaQueries";
body,html{
    margin: 0;
    min-height: 600px;
    background-color: $white !important;
}
#root{
    position: relative;
    overflow-x: hidden;
}