@import "./variables";
@import "../src/pages/utilityComponents/utilities";
@import "../src/pages/aboutPage/aboutPage";
@import "../src/pages/dashboard/dashboard";
@import "../src/pages/homePage/homePage";
@import "../src/pages/aboutPage/aboutPage";
@import "../src/pages/authPage/formPage";
@import "../src/pages/recordForms/recordFormPage";
@import "../src/pages/searchPage/searchPage";
@import '../src/pages/recordPage/recordPage';
@import "./mediaQueries";
body, html{
    margin: 0;
    min-height: 600px;
    background-color: $white !important;
    scroll-behavior: unset !important;
    
}
body{
    overflow: overlay;
}
#root{
    position: relative;
    overflow-x: hidden;
}