@import "../forms/loginForm/loginForm";
@import "../forms/signupForm/signUpForm";
@import "../forms/requestAccessForm/requestAccessForm";
$form-page-height: calc(100vh - #{$navbar-height});
.form-pg-container{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $badge;
    padding: 2rem;
    min-height: $form-page-height;
}
.form-overall-container{
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}