@mixin about-pg-lg {
  $namespace: "about-pg";

}
@mixin about-pg-md {
  $namespace: "about-pg";

  ##{$namespace}-explore-header{
    justify-content: center;
  }
}
@mixin about-pg-sm {
  $namespace: "about-pg";

  ##{$namespace}-contributors-container {
    padding: 2.5rem 0;
    h3 {
      font-size: 2rem;
    }
  }
  ##{$namespace}-contributors {
    $sub-namespace: "contributor-card";
    .#{$sub-namespace} {
      flex-direction: column;
    }
    .#{$sub-namespace}-name {
      font-size: 1rem;
    }
    .#{$sub-namespace}-title {
      font-size: 0.8rem;
    }
  }
  ##{$namespace}-explore-more {
    $sub-namespace: "explore-card";
    .#{$sub-namespace}-container {
      width: 100%;
      min-width: unset;
    }
  }
  ##{$namespace}-about-img {
    height: 15rem;
    padding-top: 0;
    padding-bottom: 0;
  }
}
