#footer{
    display: flex;
    flex-direction: column;
    background-color: $darkest-blue;   
    align-items: center;
}
#footer-container{
    background-color: $darkest-blue;   
    color: $white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: calc(max(1.5rem, 3%)) calc(max(1rem, 4%));
    h2{
        font-size: 1.3rem;
        font-weight: 500;
        font-family:"Poppins",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 1.2rem;
    }
}
.footer-columns-container{
    display: flex;
    flex-grow: 1;
}
.footer-column-container{
    margin-right: 10%;
}
.footer-column-link-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    a{
        position: relative;
        font-size: 0.85rem;
        font-weight: 300;
        margin-bottom: 0.5rem;
        color: $white;
        text-decoration: none;
        font-family:"Poppins" ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: fit-content;
        @include link-underline-styles(1px, $white, $white);
    }
}
.footer-contact-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-contact-row{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
    svg{
        width: 1.3rem;
    }
    &:last-child{
        margin: 0
    }
}
.footer-contact-row-text{
    margin-left: 0.6rem;
    font-size: 0.86rem;

}
#footer-copyright{
        width: 100%;
    height: 3.5rem;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
    font-family:"Poppins",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    p{
        margin: 0;
        font-size: 0.75rem;
    }
}