$namespace: "page-wrapper";
.#{$namespace}-pg{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - #{$navbar-height});
}
.#{$namespace}-pg-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    flex-grow: 1;
}
.#{$namespace}-pg-header{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: $dark-blue;
    font-size: 1.9rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    h1{
        margin: 0;
        margin-left: 0.7rem;
    }

}
