$login-page-height: calc(100vh - #{$navbar-height});

.login-pg-container{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $badge;
    height: $login-page-height;
    min-height: 600px;

}
.login-form-container{
    margin: auto 0;
    border-radius: 0.5rem;
    max-width: 350px;
    min-width: 280px;
    width: 23vw;
    display: flex;
    flex-direction: column;
    padding: calc(max(1.5rem, 13%)) calc(max(2rem, 15%));
    align-items: center;
    background-color: $white;
    transition: all 250ms ease-in;
}
.login-pg-err-banner{
    display: flex;
    width: 100%;
    padding: 0.5rem !important;
}
.login-form-logo{
    margin-bottom: 1.7rem;
    background-color: $dark-gray;
    height: 3rem;
    width: 100%;
}
.login-form-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -0.5px;
    font-family: 'Poppins','Segoe UI', Tahoma, "Geneva", Verdana, sans-serif;
    margin: 0rem;
    margin-bottom: 1.7rem;
    line-height: 2.3rem;
}
.login-form-google-auth{
    margin-bottom: 1.2rem;
}
.login-pg-hr-line{
    display: flex;
    align-items: center;
    min-width: 250px;
    width: 100%;
    div{
        height: 2px;
        width: 100%;
        background-color: $dark-gray;
    }
    span{
        font-size: 1rem;
        margin: 0 0.6rem;
        margin-bottom: 0.2rem;
        padding: 0;
    }
}
.login-form-guest-btn{
    margin-top: 1.2rem;
    font-weight: 500;
    background-color: $dark-blue;
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: $white;
    font-family: 'Lato','Segoe UI', Tahoma, "Geneva", Verdana, sans-serif;
}


.login-guest-form-container{
    @extend .login-form-container;  
    position: relative; 
}
.login-guest-form-back-btn{
    position: absolute;
    top: 0.9rem;
    left: 0.9rem;
    border: 1px solid $dark-blue;
    background-color: $white;
    border-radius: 0.4rem;
    color: $dark-blue;
    font-size: 0.9rem;
    width: 1.7rem;
    height: 1.7rem;
}
.login-guest-form{
    min-width: 245px;
}
.login-guest-form-row{
    margin-bottom: 2rem;

    h2{
        font-size: 1rem;
        font-family: "Lato",'Segoe UI', Tahoma, "Geneva", Verdana, sans-serif;
        margin-bottom: 0.8rem;
        span{
            color: rgb(201, 1, 1);
            margin-left: 0.2rem;
        }
    }
}
.login-guest-form-row-body{
    display: flex;
    align-items: center;
    width: 100%;
    input[type="text"]{
        width: 100%;
        border: 1px solid $dark-gray;
        min-height: 2rem;
        padding-left: 0.5rem;
        font-size: 0.9rem;
        border-radius: 0.3rem;
    };
    input[type="radio"]{
        visibility: hidden;
        opacity: 0;
        width: 0;
    }
    input[type="radio"]~label{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: $white;
        border-radius: 0.4rem;
        border: 1px solid $dark-gray;
        color: $dark-gray;
        font-size: 0.9rem;
        padding: 0.2rem 1.3rem;
        margin-right: 0.5rem;
        font-weight: 600;
    }
    #login-guest-form-org-yes:checked+label{
        border: 1px solid $green;
        color: $green
    }
    #login-guest-form-org-no:checked+label{
        border: 1px solid red;
        color: red
    }
    
}
.login-guest-form-input-err{
    margin-top: 0.2rem;
    color: rgb(201, 1, 1); 
    font-size: 0.85rem;
    font-weight: 400;
    font-family: "Lato",'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}
.login-group-form-dropdown{
    width: 100%;
    padding: 0;
    .dropdown-input__menu-list{
        max-height: 13rem;
    }
    .dropdown-input__value-container{
        font-size: 0.9rem;
        input[type="text"]{
            width: 100%;
            border: 1px solid $dark-gray;
            min-height: 0;
        }
    }
    .dropdown-input__group{
        padding-top: 0;
    }
    .dropdown-input__group-heading{
        font-size: 1.1rem;
        font-weight: 500;
        font-family:"Poppins",'Segoe UI', Tahoma, "Geneva", Verdana, sans-serif;
        background-color: $blue-gray;
        padding: 0.5rem 1rem;
        min-height: 2.7rem;
        color: $white;
        display: flex;
        align-items: center;
    }
    .dropdown-input__option{
        font-size: 0.85rem;
    }
}
.login-guest-form-auth-btn{
    background-color: $dark-blue;
    color: $white;
    border: none;
    min-height: 41px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 0.4rem;
    font-size: 0.8rem;
    font-family: 'Poppins','Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    margin-top: 2.5rem;
}
//transition classes for carousel like effect
.login-transition-container{
    display: flex;
    flex-direction: column;
    transition: all 250ms ease-in;
    height: 100%;
    width: 100%;
}
.login-form-pg-enter{
    position: absolute;
    transform: translateX(-400px);
}
.login-form-pg-enter-active{
    transform: translateX(0px);
}
.login-form-exit{
    position: absolute;
    transform: translateX(0px);
}
.login-form-pg-exit-active{
    transform: translateX(-400px);
}
.guest-form-pg-enter{
    position: absolute;
    transform: translateX(400px)
}
.guest-form-pg-enter-active{
    transform: translateX(0px);
}

.guest-form-pg-exit-active{
    transform: translateX(400px);
}
