#request-access-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  height: fit-content;
  min-width: 300px;
  max-width: 400px;
  width: 30vw;
  border-radius: 0.5rem;
  overflow: auto;
  overflow-x: hidden;
  padding: calc(max(3%, 2rem));
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  h1 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
  }
}
.request-form-container-loading{
  background-color: $white;
  border-radius: 0.5rem;
  color: $dark-blue;
}
#request-access-form-logo {
  margin-bottom: 1.5rem;
  background-color: $dark-gray;
  height: 3rem;
  width: 100%;
}

.request-access-form-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  .row-input-error {
    display: flex;
    align-items: center;
    color: darkred;
    font-size: 0.8rem;
    margin-top: 0.2rem;
  }
  label {
    margin-bottom: 0.3rem;
    font-size: 0.85rem;
    font-weight: 300;
    span {
      margin-left: 0.2rem;
      font-size: 1rem;
      color: darkred;
    }
  }
  input,
  textarea {
    width: 100%;
    border: 2px solid $lighter-gray;
    resize: none;
    border-radius: 0.4rem;
    min-height: 1.8rem;
    font-size: 0.8rem;
    padding: 0.3rem;
  }
  textarea {
    min-height: 7rem;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
.request-access-form-contact-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  p {
    font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.87rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
  }
}
.request-form-dropdown{
    width: 100%;
    padding: 0;
    border: 2px solid $lighter-gray;
    border-radius: 0.4rem;
    .dropdown-input__indicator{
      padding: 0.2rem 0.4rem;
    }
    .dropdown-input__menu-list{
        max-height: 13rem;
    }
    .dropdown-input__control{
        min-height: 2rem;
        border: none;
    }
    .dropdown-input__value-container{
        font-size: 0.8rem;
        input[type="text"]{
            width: 100%;
            border: 1px solid $dark-gray;
            min-height: 0;
        }
    }
    .dropdown-input__group{
        padding-top: 0;
    }
    .dropdown-input__group-heading{
        font-size: 1.1rem;
        font-weight: 500;
        font-family:"Poppins",'Segoe UI', Tahoma, "Geneva", Verdana, sans-serif;
        background-color: $blue-gray;
        padding: 0.5rem 1rem;
        min-height: 2.7rem;
        color: $white;
        display: flex;
        align-items: center;
    }
    .dropdown-input__option{
        font-size: 0.85rem;
    }
}
.contact-row-input {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  label {
    font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 0.5rem;
    font-size: 0.77rem;
  }
  input[type="radio"] {
      cursor: pointer;
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: $dark-blue;
    width: 1rem;
    height: 1rem;
    border: 1.5px solid currentColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  input[type="radio"]::before {
    content: "";
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-out;
    background-color: $dark-blue;
    //box-shadow: inset 1rem 1rem $dark-blue;
    margin: 0;
    padding: 0;
  }
  input[type="radio"]:checked::before {
    transform: scale(1);
  }
}
.request-access-form-submit-btn {
  margin-top: 1.2rem;
  width: 100%;
  border: none;
  background-color: $dark-blue;
  color: $white;
  border-radius: 0.4rem;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
//form submitted input styles
.request-form-submitted{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    a{
        text-decoration: none;
        margin-bottom: 1rem;
    }
    #request-submitted-form-heading{
        background-color: $dark-blue;
        color: $white;
        padding: 1rem 0;
        width: 100%;
        margin: 0;
    }
}
#request-submitted-inputs-container{
    width: 100%;
    border: 1px solid $dark-gray;
    border-top: none;
}
.request-form-submitted-inputs{
    padding: 0.5rem 0;
    border-bottom: 1px solid $light-gray;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.5rem;
    width: 100%;
    font-family: "Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    h2{
        font-size: 0.9rem;
        width: 100%;
        margin-bottom: 0.3rem;
        font-weight: 500;
    }
    p{
        font-size: 0.77rem;
        width: 100%;
        margin: 0;
        padding: 0;
        font-weight: 300;
    }
    &:last-child{
        border-bottom: none;
    }
}