#dashboard-pg-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: "Poppins",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: calc(100vh - #{$navbar-height});
};
#dashboard-pg-inner{
    max-width: 1050px;
    padding: 0 3%;
    padding-bottom: 3.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
};
#dashboard-greeting{
    text-align: center;
    h1{
        font-size: 1.7rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }
    p{
        font-size: 0.9rem;
        font-weight: 400;
        color: $dark-gray;
        margin-bottom: 3rem;
    }
}