#dashboard-user-search {
  background-color: white;
  padding: 0 1rem;
  border-radius: 2rem;
  border: 1.7px solid $lighter-gray;
  display: flex;
  align-items: center;
  pointer-events: none;
  width: 50%;
  color: $gray;
  margin-bottom: 2rem;
  input {
    display: flex;
    align-items: center;
    height: 3rem;
    width: 100%;
    margin-left: 0.5rem;
    border: none;
    outline: none;
    pointer-events: auto;
    font-size: 0.8rem;
    &::placeholder {
      margin: 0;
      color: $gray;
      font-weight: 300;
    }
  }
  &:focus,
  &:active,
  &:focus-within {
    outline: $darkest-gray 2px solid;
  }
}
#dashboard-user-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.dashboard-user-nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.dashboard-user-type {
  button {
    @include remove-btn-default();
    position: relative;
    padding: 0;
    margin: 0;
    margin-right: 1rem;
    color: $dark-gray;
    font-weight: 600;
    font-size: 0.95rem;
    @include link-underline-styles(1.9px, $dark-gray, $light-blue);
  }
}
.dashboard-user-count {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 0.8rem;
  color: $dark-gray;
  font-weight: 500;
  .user-count {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.6rem;
    margin-bottom: 0;
    line-height: 100%;
  }
  button {
    @include remove-btn-default();
    color: $darker-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0;
    border-radius: 4rem;
    &:hover {
      background-color: $lighter-gray;
      color: $darkest-gray;
    }
  }
}
.dashboard-user-columns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0.5rem 0;
  border-bottom: 1px solid $light-gray;
}
.dashboard-user-column-title {
  display: flex;
  align-items: center;
  height: 100%;
  &:nth-child(2) {
    justify-content: center;
    flex-grow: 1;
  }
  &:nth-child(3) {
    margin-right: 5%;
  }
  h5 {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 500;
    color: $darker-gray;
  }
  .sorting-pointers {
    display: flex;
    flex-direction: column;
    height: 1.2rem;
    margin-left: 0.4rem;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      height: 100%;
      @include remove-btn-default();
      svg {
        width: 0.5rem;
        height: 100%;
        fill: $dark-gray;
      }
    }
  }
}
.dashboard-users {
  display: flex;
  flex-direction: column;
  width: 100%;
}
