#dashboard-user-search {
  background-color: white;
  padding: 0 1rem;
  border-radius: 2rem;
  border: 1.7px solid $lighter-gray;
  display: flex;
  align-items: center;
  pointer-events: none;
  width: 50%;
  color: $gray;
  margin-bottom: 2rem;
  input {
    display: flex;
    align-items: center;
    height: 2.8rem;
    width: 100%;
    margin-left: 0.5rem;
    border: none;
    outline: none;
    pointer-events: auto;
    font-size: 0.85rem;
    &::placeholder {
      margin: 0;
      color: $gray;
      font-weight: 300;
    }
  }
  &:focus,
  &:active,
  &:focus-within {
    outline: $darkest-gray 2px solid;
  }
}
#dashboard-user-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.dashboard-user-nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.dashboard-user-type {
  button {
    @include remove-btn-default();
    position: relative;
    padding: 0;
    margin: 0;
    margin-right: 1rem;
    color: $dark-gray;
    font-weight: 600;
    font-size: 0.95rem;
    @include link-underline-styles(1.9px, $dark-gray, $light-blue);
  }
}
.dashboard-user-count {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 0.8rem;
  color: $dark-gray;
  font-weight: 500;
  .user-count {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.6rem;
    margin-bottom: 0;
    line-height: 100%;
  }
  button {
    @include remove-btn-default();
    color: $darker-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0;
    border-radius: 4rem;
    &:hover {
      background-color: $lighter-gray;
      color: $darkest-gray;
    }
  }
}
.dashboard-user-columns {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100%;
}
.dashboard-user-column-loading {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: start;
  margin-top: 2rem;
  padding-top: 2rem;
  justify-content: center;
  background-color: #f9f9f9ca;
  height: 100%;
}
.dashboard-user-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  &.Email,
  &.Joined {
    .dashboard-user-column-title {
      justify-content: center;
    }
  }
  &.Email {
    justify-content: center;
    flex-grow: 1;
  }
  &.Joined {
    min-width: 8rem;
  }
  .user-list-row-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    font-size: 0.85rem;
    font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    font-weight: 500;
    color: #575757;
    &:nth-child(2) {
      margin-top: 0.5rem;
    }
  }
  .user-list-name {
    margin-left: 0.5rem;
  }
  .user-actions {
    position: relative;
  }
  .user-actions-btn {
    @include remove-btn-default();
    color: #575757;
    font-size: 1.5rem;
  }
  .user-actions-dropdown {
    position: absolute;
    right: 1rem;
    top: 2.5rem;
    width: 7rem;
    background-color: $white;
    border: 1px solid $lighter-gray;
    border-radius: 0.3rem;
    z-index: 1;
    font-size: 0.8rem;
    padding: 0.3rem 0;
    box-shadow: 3px 7px 6px -4px rgba(0, 0, 0, 0.116);
    a,
    button {
      text-decoration: none;
      width: 100%;
      padding: 0.3rem 0.5rem;
      @include remove-btn-default();
      display: flex;
      justify-content: center;
      font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: rgb(41, 41, 41);
      &:hover {
        background-color: $light-blue;
        color: $white;
      }
      &.user-actions-revoke-access {
        color: $red;
        &:hover {
          background-color: $red;
          color: $white;
        }
      }
    }
  }
}
.dashboard-user-column-title {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid $light-gray;

  h5 {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 500;
    color: $darker-gray;
  }
  .sorting-pointers {
    display: flex;
    flex-direction: column;
    height: 1.2rem;
    margin-left: 0.4rem;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      height: 100%;
      @include remove-btn-default();
      svg {
        width: 0.5rem;
        height: 100%;
        fill: $dark-gray;
      }
    }
  }
}

