.invite-link-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    height: fit-content;
    min-width: 300px;
    max-width: 400px;
    width: 22vw;
    border-radius: 1rem;
    overflow: auto;
    overflow-x: hidden;
    padding: calc(max(4%, 2rem)) calc(max(3%, 1.5rem));
}
.invite-link-form-logo{
    margin-bottom: 1.5rem;
    background-color: $dark-gray;
    height: 3rem;
    width: 100%;
}
.invite-link-form-title{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: -0.5px;
    font-family: 'Poppins','Segoe UI', Tahoma, "Geneva", Verdana, sans-serif;
    margin: 0.5rem;
    margin-bottom: 1.5rem;
}
.invite-link-input-container{
    width: 250px
}

.invite-link-input{
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    .input-heading{
        display: flex;
        align-items: center;
        margin-bottom: 0.6rem;
        h2{
            margin: 0;
        }
        span{
            margin-left: 0.2rem;
            font-weight: 700;
            color: darkred;
        }
    }
    h2{
        font-size: 0.9rem;
        font-weight: 300;
        margin-bottom: 0.7rem;
        font-family: "Poppins", "san-serif", "arial";
    }
    .default-inputs{
        font-size: 1rem;
        border: 1px solid $dark-gray;
        border-radius: 0.3rem;
        height: 1.9rem;
        padding-left: 0.5rem;
        &.error{
            border: 1px solid darkred;
        }
    }
    //hide number pointers
    .default-inputs::-webkit-outer-spin-button,
    .default-inputs::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .default-inputs[type=number] {
        -moz-appearance: textfield;
    }
    &:last-child{
        margin-bottom: 0;
    };
    .err-message{
        font-size: 0.8rem;
        color: darkred;
        margin-top: 0.3rem;
        font-family: "Poppins",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}
.invite-link-form-dropdown{
    width: 100%;
    padding: 0;
    border: 1px solid $darkest-gray;
    border-radius: 0.4rem;
    &.error{
            border: 1px solid darkred;
        }
    .dropdown-input__indicator{
      padding: 0.2rem 0.4rem;
    }
    .dropdown-input__menu-list{
        max-height: 13rem;
    }
    .dropdown-input__control{
        min-height: 2rem;
        border: none;
    }
    .dropdown-input__value-container{
        font-size: 0.8rem;
        input[type="text"]{
            width: 100%;
            border: 1px solid $dark-gray;
            min-height: 0;
        }
    }
    .dropdown-input__group{
        padding-top: 0;
    }
    .dropdown-input__group-heading{
        font-size: 1.1rem;
        font-weight: 500;
        font-family:"Poppins",'Segoe UI', Tahoma, "Geneva", Verdana, sans-serif;
        background-color: $blue-gray;
        padding: 0.5rem 1rem;
        min-height: 2.7rem;
        color: $white;
        display: flex;
        align-items: center;
    }
    .dropdown-input__option{
        font-size: 0.85rem;
    }
}
.invite-link-google-auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 42px;
    margin: 1.7rem 0;
    border-radius: 0.3rem;
}

.invite-link-login{
    display: flex;
    align-items: center;
    color:rgb(83, 83, 83);
    font-size: 0.8rem;
    font-weight: 400;
    font-family:"Poppins",'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    a{
        margin-left: 0.2rem;
        text-decoration: none;
    }
    p{
        margin: 0;
    }
}
.invite-link-err-banner{
    position: relative;
    display: flex;
    justify-content:center;
    width: 100%;
    padding: 0.6rem !important;
    button{
        position: absolute;
        right: 0.4rem;
        top: 0.4rem;
        background-color: rgba(255, 255, 255, 0);
        outline: none;
        border: none;
        height: 1rem;
        width: 1rem;
        display: flex;
        align-items: center;
        padding: 0;
        .exit-icon{
            stroke: $darkest-gray;
        }
    }
};
