//utilities
@import "./utilities/recordFormNav/recordFormNav";
@import "./utilities/recordFormWrapper/recordFormWrapper";
//forms

//record-form styles
.record-form-pg{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 7%;
    min-height: calc(100vh - #{$navbar-height});
}
.record-form-pg-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    flex-grow: 1;
}
.record-form-pg-header{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: $dark-blue;
    font-size: 1.9rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    h1{
        margin: 0;
        margin-left: 0.7rem;
    }

}
